body {
    background-color: rgba(64, 78, 237, 0.9);
    background-image: url("images/HangingOutWithController.jpg");
    background-repeat: no-repeat;
    background-size: 40%;
}

.title {
    color: white;
    text-align: center;
    font-family: Verdana, Helvetica, serif;

}
.sub-title{
    color: white;
    text-align: center;
    background-image: url("images/Stars.jpg");

}

.button-container {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    vertical-align: top;
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
    justify-content: space-evenly;
    justify-items: stretch;

}

.navbar ul li {
    padding: 1px;
}

.heading{

    background-size: contain;

}
.navbar {
    background-color: rgba(204, 204, 204, 0.5);
    overflow: hidden;
    width: max-content;
    height: fit-content;
    margin-left: 200px;
    vertical-align: top;
    object-position: right;
}

/* Style the links inside the navigation bar */
.navbar a {
    text-decoration: none;
    padding: 5px 15px; /* Add padding around text */
    float: none;
    color: black;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    background-color: none;
    margin: 0;
}

/* Style the links inside the navigation bar on hover */
.navbar a:hover {
    color: blueviolet;
    background-color: azure;
}

/* Style of Team members */
.team-members ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.member-definition {
    color: black;
    font-family: "", Serif;
    font-size: 20px;
    font-weight: normal;
    /*font-style: */
    font-style: normal;
    /*options: undeline, overline, line-through, none*/
    text-decoration: none;

}