
.heading .sub-title{
    background-image: url("images/Stars.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-self: stretch;
}












